<form [formGroup]="postForm" (ngSubmit)="onSubmit()">
  <div>
    <label>
      <h4>tag</h4>
      <br>
      <input class="form-control" type="text" formControlName="tag">
    </label>
  </div>
  <div *ngIf="postForm.get('tag').invalid && postForm.get('tag').touched" style="color: red">
    Tag is required and min length is 5
  </div>
  <div>
    <label>
      <h4>url</h4>
      <br>
      <input class="form-control" type="text" formControlName="url">
    </label>
  </div>
  <div *ngIf="postForm.get('url').invalid && postForm.get('url').touched" style="color: red">
    URL is required and min length is 4
  </div>
  <div>
    <label>
      <h4>description</h4>
      <br>
      <textarea class="form-control" formControlName="descriptions" cols="50" rows="5"></textarea>
    </label>
  </div>
  <div *ngIf="postForm.get('descriptions').invalid && postForm.get('descriptions').touched" style="color: red">
    Description is required and min length is 10
  </div>
  <button type="submit" class="btn btn-warning">Submit</button>
</form>
