<form [formGroup]="postForm" (ngSubmit)="onSubmit()">
  <div>
    <label>
      tag
      <br>
      <input type="text" formControlName="tag">
    </label>
  </div>
  <div *ngIf="postForm.get('tag').invalid && postForm.get('tag').touched" style="color: red">
    Tag is required and min length is 5
  </div>
  <div>
    <label>
      author
      <br>
      <input  type="text" formControlName="url">
    </label>
  </div>
  <div *ngIf="postForm.get('url').invalid && postForm.get('url').touched" style="color: red">
    URL is required and min length is 4
  </div>
  <div>
    <label>
      descriptions
      <br>
      <textarea formControlName="descriptions" cols="20" rows="20"></textarea>
    </label>
  </div>
  <div *ngIf="postForm.get('descriptions').invalid && postForm.get('descriptions').touched" style="color: red">
    Description is required and min length is 10
  </div>
  <button type="submit">Submit</button>
</form>
